{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.+scss",
      "options": {
        "parser": "scss"
      }
    }
  ]
}
