{
  'extends': 'stylelint-config-sass-guidelines',
  "plugins": ["stylelint-prettier"],
  "ignoreFiles": ["node_modules/**", "**/*.json", "**/*.js", "**/*.test.js", "**/*.html", "**/*.svg", "**/*.png", "**/*.jpg"],
  "rules": {
    "prettier/prettier": true,
    "max-nesting-depth": 2,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  },
}