.container {
  background: #e4e4e4;
  box-shadow: 0 3px 3px #e4e4e4;
  cursor: pointer;
  padding: 15px;
  position: relative;
}

.container::before {
  background: #777;
  border-radius: 100px/10px;
  bottom: 5px;
  box-shadow: 0 0 30px 17px #486685;
  content: '';
  left: 30px;
  position: absolute;
  right: 30px;
  top: 80%;
  z-index: -1;
}
